#footer {
  font-family: 'Open Sans', sans-serif;
  img {
    margin-bottom: 13px;
  }
  h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 60px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #373F51;
  }
  p {
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #B3B5B9;
  }
  .footer-part-four {
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: #373F51;
    }
  }

}
